@import url('../styles/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background: #fff;
  font-family: 'Kanit', sans-serif;
}

@layer components {
  body {
    @apply font-custom
  }

  .section {
    @apply pt-5 pb-5;
  }

  .container {
    @apply mx-auto px-5;
    max-width: 1200px;
    width: 100%;
  }

  .heading {
    @apply font-medium uppercase;
    margin-bottom: 18px;
    font-size: 26px;
    line-height: 30px;
  }

  .btn {
    @apply text-white font-medium bg-customPurple;
    border-radius: 5px;
  }

  .todo__container {
    @apply relative flex flex-col items-center;
    min-height: 200px;
  }

  .todo__wrapper {
    @apply flex items-center gap-x-4 w-full;
    max-width: 595px;
    margin-bottom: 30px;
  }

  .todo__label {
    @apply relative w-full;
  }

  .todo__search-input {
    @apply border border-customPurple w-full px-4 outline-none text-customPurple;
    height: 38px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 5px;
  }

  .todo__search-input::placeholder {
    color: theme("colors.customPurple")
  }

  .todo__search-input-icon {
    @apply absolute top-1/2 -translate-y-1/2 right-4;
    width: 21px;
    height: 21px;
  }

  .todo__select {
    @apply bg-customPurple min-h-10 text-white outline-none p-2;
    width: 85px;
    border-radius: 5px;
  }

  .todo__btn-theme {
    @apply p-2;
    min-width: 38px;
    min-height: 38px;
  }

  .todo__btn-theme-icon {
    width: 22px;
    height: 22px;
  }

  .todo__list {
    @apply flex flex-col w-full;
    max-width: 595px;
  }

  .todo__item {
    @apply flex items-center;
    column-gap: 17px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid theme("colors.customPurple");
  }

  .list__item-input {
    @apply w-full;
  }

  .list__item-checkbox:checked+.todo__item-input {
    text-decoration: line-through;
  }

  .list__item-wrapper {
    @apply flex;
    column-gap: 10px;
  }

  .list__item-btn {
    width: 24px;
    height: 24px;
  }

  .list__item-icon {
    width: 100%;
    height: 100%;
    fill: #CDCDCD;
    transition: fill .3s ease, stroke .3s ease;
  }

  .list__item-icon-checkmark:hover,
  .list__item-icon-pen:hover {
    fill: theme("colors.customPurple")
  }

  .list__item-icon-trash {
    fill: none;
    stroke: #CDCDCD;
  }

  .list__item-icon-trash:hover {
    stroke: theme("colors.customRed");
  }

  .list__item-input {
    @apply border border-customPurple;
    padding: 11px 16px;
    border-radius: 5px;
  }

  .todo__btn-add {
    @apply absolute right-0 bottom-0 flex items-center justify-center rounded-full;
    width: 50px;
    height: 50px;
  }

  .modal {
    @apply fixed flex flex-col items-center justify-center;
    inset: 0;
  }

  .modal__overlay {
    @apply absolute inset-0 bg-black opacity-50 z-0;
  }

  .todo__form {
    @apply flex flex-col items-center rounded-2xl bg-white z-10;
    max-width: 500px;
    width: 100%;
    min-height: 249px;
    padding: 18px 30px;
  }

  .todo__form-heading {
    @apply text-2xl uppercase;
    margin-bottom: 25px;
  }

  .todo__form-input {
    @apply w-full text-customPurple outline-none border border-customPurple;
    padding: 11px 16px;
    margin-bottom: auto;
    border-radius: 5px;
  }

  .todo__form-input::placeholder {
    color: inherit;
  }

  .todo__form-wrapper {
    @apply flex justify-between w-full;
  }

  .todo__form-btn {
    width: 110px;
    padding: 10px 22px;
    font-size: 18px;
  }

  /* .todo__form-btn-apply {} */
  .todo__form-btn-cancel {
    @apply border border-customPurple text-customPurple bg-transparent;
  }
}